@model MyLibrary.ViewModels.BookListVM
@using MyLibrary.Models
@{
    ViewBag.Title = "BookList";
}

<head>
    <meta charset="utf-8">
    <link href="~/Content/listStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    @using (Html.BeginForm())
    {
        <h2>List of books</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Read</th>
                <th>Like</th>
            </tr>
            @foreach (Book b in Model.books)
            {
                <tr>
                    <td>@Html.DisplayFor(m => b.bookId)</td>
                    <td>@Html.DisplayFor(m => b.title)</td>
                    <td>@Html.DisplayFor(m => b.author)</td>
                    <td>@Html.DisplayFor(m => b.year)</td>
                    <td>@Html.DisplayFor(m => b.read)</td>
                    @if (b.like == false)
                    {
                        <td><input type="button" value="ADD TO FAVORITES" onclick="location.href='@Url.Action("AddToFavorites", "Home", new {id = b.bookId})'"></td>
                    }
                    @if (b.like == true)
                    {
                        <td>
                            <img class="check" src="~/Images/check.jpg"/>
                        </td>
                    }
                </tr>
            }
        </table>
    }
</body>